# String

- In Python, Strings are arrays of bytes representing Unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1. Square brackets can be used to access elements of the string.

- Strings in Python can be created using single quotes or double quotes or even triple quotes.

In [3]:
name = "Rahul"

In [4]:
print(name)

Rahul

In [5]:
name[0]

'R'

In [6]:
name[-1]

'l'

In [7]:
name[:]

'Rahul'

#### Reverse a string

In [14]:
name[-1::-1]

'luhaR'

#### Let's check name variable attributes,functions

In [16]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [17]:
name.capitalize()

'Rahul'

In [18]:
name.casefold()

'rahul'

In [20]:
name.center(20)

'       Rahul        '

#### Count substring in a string

In [21]:
txt = "New Delhi is capital of india"

In [22]:
txt.count('a')

3

In [24]:
txt.count('a', 15)

2

In [27]:
txt.count('a', 15, 20)

1

#### If we want to check a file extenstion

In [28]:
filename = "goole_logo.png"

In [30]:
filename.endswith('.png')

True

In [32]:
filename.endswith('.jpg')

False

#### Find substring in a string

In [33]:
txt.find("is")

10

In [35]:
txt.find("is", 11)

-1

In [37]:
txt.find("is", 1, 14)

10

In [38]:
txt.index('a')

14

In [39]:
name.isalnum()

True

In [40]:
name.upper()

'RAHUL'

In [41]:
name.title()

'Rahul'

In [42]:
name.swapcase()

'rAHUL'

In [43]:
txt.split(" ")

['New', 'Delhi', 'is', 'capital', 'of', 'india']

In [46]:
name.replace("R", "S")

'Sahul'

In [47]:
name.lower()

'rahul'

### String formatin/templating

In [48]:
name="Aman"
age=10
salary=76000

In [51]:
obj_str = f'My name is {name}, age = {age}, salary = {salary}'

In [52]:
print(obj_str)

My name is Aman, age = 10, salary = 76000